<!--Display successful registration message-->
<form name="successfulForm" class="p-4 mb-2 bg-light rounded" novalidate>

    <div class="row">
        <div class="col-sm-9">
            <!--Page title-->
            <div class="d-flex justify-content-between text-muted">
                <div><h4 class="font-weight-bold">{{'SUCCESS.STEPS' | translate}}{{'SUCCESS.TITLE' | translate}}</h4></div>
            </div>
            <!--Instruction to follow-->
            <div class="d-flex justify-content-between">
                <div class="text-muted mr-2"><label>{{'SUCCESS.INSTRUCTION' | translate}}</label></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="column">
                <patient-info form-data="vm.formData"></patient-info>
            </div>
        </div>
    </div>

    <!--notifciation note-->
    <div class="alert alert-primary">
        <table class="border">
            <tr>
                <td width="40px">
                    <i class="fas fa-info-circle" style="font-size:24px"></i>
                </td>
                <td>
                    <div class="text-muted mr-2"><label class="alert-primary">{{'SUCCESS.NOTIFICATION1' | translate}}
                        <span style="font-weight: bold;">{{vm.formData.firstName}}&nbsp;{{vm.formData.lastName}}</span>
                        {{'SUCCESS.NOTIFICATION2' | translate}}</label></div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><div class="text-muted mr-2"><label class="alert-primary">{{'SUCCESS.NOTIFICATION3' | translate}}</label></div></td>
            </tr>
        </table>
    </div>



    <!--Message section-->
    <div class="form-row mt-3">
        <div class="form-group col-12">
            <p class="text-muted p2 ">
                <h4 class="font-weight-bold text-muted">
                    {{'SUCCESS.THANKYOUMESSAGE' | translate}}
                </h4>

            </p>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-12">
            <p class="text-muted p2 ">
                {{'SUCCESS.DOWNLOADAPP' | translate}}
            </p>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-12">
            <p class="text-muted">
                {{'SUCCESS.PROCESS' | translate}}
            </p>
        </div>
    </div>

    <div class="form-row align-items-center">
        <div class="form-group col-xs-12 col-md-6">
            <a href="https://itunes.apple.com/us/app/opal-health/id1446920350?ls=1&mt=8" target="_blank" alt="download link"><img ng-src="{{'SUCCESS.APPSTORELOGO' | translate}}" class="iconWidth d-block mx-auto mx-md-0 float-md-right" /></a>
        </div>
        <div class="form-group col-xs-12 col-md-6">
            <a href="https://play.google.com/store/apps/details?id=com.hig.opal2" target="_blank" alt="download link"><img ng-src="{{'SUCCESS.PLAYSTORELOGO' | translate}}" class="w-50 d-block mx-auto mx-md-0" /></a>
        </div>
    </div>
</form>
