# SPDX-FileCopyrightText: Copyright 2021 Opal Health Informatics Group <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

.*

!.htaccess
!.npmrc

# node
node_modules
npm-debug.log

# webpack
/dist
