# SPDX-FileCopyrightText: Copyright 2021 Opal Health Informatics Group <info@opalmedapps.tld>
#
# SPDX-License-Identifier: Apache-2.0

.*

!.htaccess
!.npmrc

# node
node_modules
npm-debug.log

# webpack
/dist
