default:
  image: node:20.11.0-alpine3.19
  before_script:
    - uname -a

stages:
  - build
  - test
  - deploy

setup:
  stage: build
  script:
    - node --version
    - npm --version
    # Install dependencies and cache within the project directory to cache
    # See: https://javascript.plainenglish.io/improving-ci-performance-aka-how-to-save-your-money-31ff691360e4
    - npm ci --cache .npm --prefer-offline
  # Cache modules in between pipelines
  cache:
    key:
      files:
        - package-lock.json
    paths:
      - ".npm/"
  artifacts:
    # pin artifacts to the branch
    # see: https://docs.gitlab.com/ee/ci/jobs/job_artifacts.html#with-a-dynamically-defined-name
    name: "$CI_COMMIT_REF_SLUG"
    expire_in: 1 week
    paths:
      - node_modules
  

deploy_development:
  stage: deploy
  environment: development
  needs:
    - setup
  script:
    - apk add --no-cache lftp
    - lftp --version
    - echo "listing working directory..."
    - ls -la
    - echo "transferring files and listing remote directory..."
    # lftp mirror arguments: https://www.cyberciti.biz/faq/lftp-mirror-example/
    - >
      lftp -e "
        set cmd:fail-exit yes; 
        open $FTP_HOST; 
        user $FTP_USER $FTP_PASSWORD; 
        mirror --exclude-glob='.*' --exclude-glob='.git/*' --include='.htaccess' --exclude='Dockerfile' --exclude='docker-compose.yml' --exclude='package.json' --exclude='package-lock.json' --exclude='renovate.json5' --exclude='README.md' --exclude='config.json.sample' --exclude='config.json' --reverse --delete --parallel=10 --verbose ./ ./registration/${CI_ENVIRONMENT_NAME}/;
        ls -la registration/${CI_ENVIRONMENT_NAME}; 
        bye
      "

  rules:
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"

include:
  # Secret Detection: https://docs.gitlab.com/ee/user/application_security/secret_detection/
  - template: Jobs/Secret-Detection.gitlab-ci.yml
  # Dependency Scanning: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml
  # SAST: https://docs.gitlab.com/ee/user/application_security/sast/
  - template: SAST.gitlab-ci.yml

# Customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
secret_detection:
  variables:
    SECRET_DETECTION_HISTORIC_SCAN: "true"

# https://docs.gitlab.com/ee/user/application_security/dependency_scanning/index.html#overriding-dependency-scanning-jobs
gemnasium-dependency_scanning:
  dependencies: ["setup"]
