# SPDX-FileCopyrightText: Copyright 2020 Opal Health Informatics Group <info@opalmedapps.tld>
#
# SPDX-License-Identifier: Apache-2.0

*.swp
.DS_Store
.idea/
.vs/
.vscode/
logs/*.log
node_modules
config.json
package-lock.json
/dist
