{
   "_comment":"API/database configs found in firebase",

   "apiKey": "xxxxxxx",
   "authDomain": "xxxxxxx",
   "databaseURL": "xxxxxxx",
   "projectId": "xxxxxxx",
   "storageBucket": "xxxxxxx",
   "messagingSenderId": "xxxxxxx",
   "appId": "xxxxxxx"
}
