# SPDX-FileCopyrightText: Copyright (C) 2021 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

services:
  app:
    restart: always
    build:
      context: .
    ports:
      - 8083:80
    volumes:
      - ./:/app
      # Don't link node_modules between the file system and the container (rebuild to get dependency updates)
      - /app/node_modules
    command: npm run start
