services:
  app:
    build:
      context: .
    ports:
      - 8083:80
    volumes:
      - .:/var/www/html/
      # don't overwrite existing content in these directories
      - /var/www/html/node_modules