<!--Search Form to enter patient registration code, RAMQ and check for right patient information-->

<form class="p-4 mb-2 bg-light rounded" name="verificationForm" ng-submit="vm.verificationFormSubmit()" novalidate>

    <div class="row">
        <div class="col-sm-9">
            <!--Page title-->
            <div class="text-muted"><h4 class="font-weight-bold">{{'VERIFICATION.STEPS' | translate}}{{'VERIFICATION.TITLE' | translate}}</h4></div>
            <!--Instruction to follow-->
            <div class="d-flex justify-content-between ">
                <div class="text-muted mr-2">
                    <label>{{'VERIFICATION.INSTRUCTION' | translate}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="column">
                <patient-info form-data="vm.formData"></patient-info>
            </div>
        </div>
    </div>
    <!--Horizontal line----------------------------------->
    <hr class="bg-opal mb-3 mb-md-2">

    <!--Send verification code-->
    <div ng-if="!vm.sendCode">
        <div class="text-muted col-md-7"><h4>{{'VERIFICATION.SEND.TITLE' | translate}}</h4></div>
        <div class="d-flex justify-content-between col-md-7">
            <div class="text-muted mr-2">
                <label>{{'VERIFICATION.SEND.INSTRUCTION' | translate}}</label>
            </div>
        </div>
        <div class="text-muted col-md-7"><label for="email" class="font-weight-bold text-muted">{{'VERIFICATION.SEND.EMAIL' | translate}}</label></div>
        <div class="text-muted col-md-7">
            <input type="email" name="email" ng-model="vm.email" class="form-control"
                    ng-class="{
                        'is-invalid':(verificationForm.email.$invalid && verificationForm.email.$dirty),
                        'is-valid': (verificationForm.email.$valid)}"
                   class="verification-email" required>
            <!--Display error if any fields has a blank value-->
            <div ng-show="verificationForm.email.$dirty && verificationForm.email.$invalid">
                <small class="text-danger font-weight-bold">{{'VERIFICATION.SEND.INVALID_EMAIL' | translate}}</small>
            </div>
            <button type="button" class="btn btn-secondary mt-3 mr-3 px-3"
                    ng-click="vm.checkEmailAndSendVerificationCode()"
                    ng-disabled="verificationForm.email.$dirty && verificationForm.email.$invalid || verificationForm.email.$error.required">
                {{'VERIFICATION.SEND.SENDCODE' | translate}}
            </button>
        </div>
    </div>

    <!--Verify Email Address-->
    <div ng-show="vm.sendCode" class="mt-md-4">
        <div class="text-muted col-md-7 px-0"><h4>{{'VERIFICATION.VERIFY.TITLE' | translate}}</h4></div>
        <div class="d-flex justify-content-between col-md-7 px-0">
            <div class="text-muted mr-2">
                <label>
                    {{'VERIFICATION.VERIFY.INSTRUCTION_START' | translate}}
                    <span class="font-weight-bold">{{vm.email}}</span>
                    {{'VERIFICATION.VERIFY.INSTRUCTION_END' | translate}}
                </label>
            </div>
        </div>
        <div class="text-muted col-md-7 px-0"><label for="code" class="font-weight-bold text-muted">{{'VERIFICATION.VERIFY.CODE' | translate}}</label></div>
        <div class="text-muted col-md-10 px-0">
            <input type="number" name="code" maxlength="6" pattern="\d*" numeric-format name="code" ng-model="vm.inputCode" class="form-control mr-3 px-3"
                   class="verification-code">
            <button type="button" class="btn btn-secondary mt-3 mr-3 px-3"
                    ng-click="vm.checkVerificationCode()">
                {{'VERIFICATION.VERIFY.VERIFY' | translate}}
            </button>
            <button type="button" class="btn btn-secondary mt-3 mr-3 px-3"
                    ng-click="vm.resendVerificationCode()" id="resend_btn">
                <span id="count_down"></span> &nbsp {{'VERIFICATION.VERIFY.RESEND' | translate}}
            </button>
        </div>
    </div>
    <div class="text-muted col-md-12 alert alert-success verify-code-info"
         ng-if="vm.sendCode && !vm.verifyCode">{{'VERIFICATION.SEND.MESSAGE' | translate}}</div>
    <div class="text-muted col-md-12 alert alert-success verify-code-info"
         ng-if="vm.verifyCode && vm.isCodeValid">{{'VERIFICATION.VERIFY.VALID' | translate}}</div>
    <div class="text-muted col-md-12 alert alert-danger verify-code-info"
         ng-if="vm.verifyCode && !vm.isCodeValid">{{'VERIFICATION.VERIFY.INVALID' | translate}}</div>

    <!--Horizontal line----------------------------------------------->
    <hr class="bg-opal mt-3 mb-3 mb-md-2">

    <!--Navigation button-->
    <div class="row">
        <div class="form-group col-md-12 col-xs-12 d-flex justify-content-center mt-2 mt-md-4">
            <button type="reset" class="btn btn-secondary text-white mr-2 px-3 px-md-5" ui-sref="form.account" tabindex="11">
                <i class="far fa-arrow-alt-circle-left pr-1"></i> {{'FORM.BUTTONS.PREVIOUS' | translate}}
            </button>
            <button type="submit" class="btn btn-secondary text-white mr-2 px-3 px-md-5" tabindex="12" ng-disabled="!vm.isCodeValid">
                {{'FORM.BUTTONS.NEXT' | translate}} <i class="far fa-arrow-alt-circle-right pl-1"></i>
            </button>
        </div>
    </div>
</form>
