<!--Search Form to enter patient registration code, RAMQ and check for right patient information-->

<form class="p-4 mb-2 bg-light rounded" name="verificationForm" ng-submit="vm.verificationFormSubmit()" novalidate>

    <div class="row">
        <div class="col-sm-9">
            <!--Page title-->
            <div class="text-muted"><h4 class="font-weight-bold">{{'VERIFICATION.STEPS' | translate}}{{'VERIFICATION.TITLE' | translate}}</h4></div>
            <!--Instruction to follow-->
            <div class="d-flex justify-content-between ">
                <div class="text-muted mr-2">
                    <label>{{'VERIFICATION.INSTRUCTION' | translate}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="column">
                <patient-info form-data="vm.formData"></patient-info>
            </div>
        </div>
    </div>
    <!--Horizontal line----------------------------------->
    <hr class="bg-opal mb-2">

    <!--Send verification code-->
    <div ng-if="!vm.sendCode">
        <div class="text-muted col-md-7"><h4>{{'VERIFICATION.SEND.TITLE' | translate}}</h4></div>
        <div class="d-flex justify-content-between col-md-7">
            <div class="text-muted mr-2">
                <label>{{'VERIFICATION.SEND.INSTRUCTION' | translate}}</label>
            </div>
        </div>
        <div class="text-muted col-md-7"><h6>{{'VERIFICATION.SEND.EMAIL' | translate}}</h6></div>
        <div class="text-muted col-md-7">
            <input type="email" name="email" ng-model="vm.email" class="btn border-dark text-dark mr-3 px-3"
                   class="verification-email" required>
            <button type="button" class="btn btn-light border-dark text-dark mr-3 px-3"
                    ng-click="vm.sendVerificationCode()"
                    ng-disabled="verificationForm.email.$dirty && verificationForm.email.$invalid || verificationForm.email.$error.required">
                {{'VERIFICATION.SEND.SENDCODE' | translate}}
            </button>
        </div>
        <div class="text-muted col-md-7">
            <span class="verify-email-error" ng-show="verificationForm.email.$dirty && verificationForm.email.$invalid">
                <span ng-show="verificationForm.email.$error.email">{{'VERIFICATION.SEND.INVALID_EMAIL' | translate}}</span>
            </span>
        </div>
    </div>

    <!--Verify Email Address-->
    <div ng-show="vm.sendCode">
        <div class="text-muted col-md-7"><h4>{{'VERIFICATION.VERIFY.TITLE' | translate}}</h4></div>
        <div class="d-flex justify-content-between col-md-7">
            <div class="text-muted mr-2">
                <label>
                    {{'VERIFICATION.VERIFY.INSTRUCTION_START' | translate}}
                    <span class="font-weight-bold">{{vm.email}}</span>
                    {{'VERIFICATION.VERIFY.INSTRUCTION_END' | translate}}
                </label>
            </div>
        </div>
        <div class="text-muted col-md-7"><h6>{{'VERIFICATION.VERIFY.CODE' | translate}}</h6></div>
        <div class="text-muted col-md-10">
            <input type="number" name="code" ng-model="vm.inputCode" class="btn border-dark text-dark mr-3 px-3"
                   class="verification-code">
            <button type="button" class="btn btn-light border-dark text-dark mr-3 px-3"
                    ng-click="vm.checkVerificationCode()">
                {{'VERIFICATION.VERIFY.VERIFY' | translate}}
            </button>
            <button type="button" class="btn btn-light border-dark text-dark mr-3 px-3"
                    ng-click="vm.resendVerificationCode()" id="resend_btn">
                <span id="count_down"></span> &nbsp {{'VERIFICATION.VERIFY.RESEND' | translate}}
            </button>
        </div>
    </div>
    <div class="text-muted col-md-12 alert alert-success" class="verify-code-error"
         ng-if="vm.sendCode && !vm.verifyCode">{{'VERIFICATION.SEND.MESSAGE' | translate}}</div>
    <div class="text-muted col-md-12 alert alert-success" class="verify-code-error"
         ng-if="vm.verifyCode && vm.isCodeValid">{{'VERIFICATION.VERIFY.VALID' | translate}}</div>
    <div class="text-muted col-md-12 alert alert-danger" class="verify-code-error"
         ng-if="vm.verifyCode && !vm.isCodeValid">{{'VERIFICATION.VERIFY.INVALID' | translate}}</div>

    <!--Horizontal line----------------------------------------------->
    <hr class="bg-opal mb-2">

    <!--Navigation button-->
    <div class="row">
        <div class="form-group col-md-12 col-xs-12 d-flex justify-content-center mt-4">
            <button type="reset" class="btn btn-secondary text-white mr-2 px-5" ui-sref="form.account" tabindex="11">
                <i class="far fa-arrow-alt-circle-left pr-1"></i> {{'FORM.BUTTONS.PREVIOUS' | translate}}
            </button>
            <button type="submit" class="btn btn-secondary text-white mr-2 px-5" tabindex="12" ng-disabled="!vm.isCodeValid">
                {{'FORM.BUTTONS.NEXT' | translate}} <i class="far fa-arrow-alt-circle-right pl-1"></i>
            </button>
        </div>
    </div>
</form>

<!--Registration code tooltip image example-->
<script type="text/ng-template" id="registrationcodeTooltipTemplate.html">
    <div class="text-muted p-1">
        <label>{{'TOOLTIP.REGISTRATIONCODE' | translate}}</label>
    </div>
</script>

<!--Ramq tooltip image example-->
<script type="text/ng-template" id="ramqTooltipTemplate.html">
    <img ng-src="{{vm.ramqTooltip.image}}" class="img-responsive img-size" />
</script>




