<!--Page content section-->
<!--Form to enter patient registration code, RAMQ and DOB and check for right information-->
<form name="personalForm" class="p-4 mb-2 bg-light rounded" ng-submit=" vm.personalFormSubmit(personalForm)" novalidate>

    <!--Personal informaiton section-->
    <div class="text-muted"><h4 class="font-weight-bold">Personal Information</h4></div>

    <!--Instruction to follow-->
    <div class="d-flex justify-content-between ">
        <div class="text-muted mr-2"><small><em>Please enter your personal infromation in the below fields.</em></small></div>
        <div class="font-weight-bold text-muted"><small><em>steps 2/5</em></small></div>
    </div>
    <hr class="bg-opal mb-2">

    <div class="form-row mb-2 mt-4">
        <div class="form-group col-md-6 col-sm-12">
            <label for="firstName" class="font-weight-bold text-muted pr-1">First Name</label>
            <input type="text" class="form-control" ng-model="vm.formData.firstName" ng-change="vm.validateFirstName(vm.formData.firstName)"
                   ng-class="{
                           'is-invalid':(vm.firstNameFormat.status == 'invalid'),
                           'is-valid': (vm.firstNameFormat.status == 'valid')}"
                   tabindex="1" required>

            <!--Display error if first name field is blank-->
            <div ng-show="vm.firstNameFormat.status == 'invalid'">
                <small class="text-danger font-weight-bold">{{vm.firstNameFormat.message}}</small>
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <label for="lastName" class="font-weight-bold text-muted pr-1">Last Name</label>
            <input type="text" class="form-control" ng-model="vm.formData.lastName" ng-change="vm.validateLastName(vm.formData.lastName)"
                   ng-class="{
                           'is-invalid':(vm.lastNameFormat.status == 'invalid'),
                           'is-valid': (vm.lastNameFormat.status == 'valid')}"
                   tabindex="2" required>

            <!--Display error if last name field is blank-->
            <div ng-show="vm.lastNameFormat.status == 'invalid'">
                <small class="text-danger font-weight-bold">{{vm.lastNameFormat.message}}</small>
            </div>
        </div>
    </div>

    <div class="form-row mb-2">
        <div class="form-group col-md-6 col-sm-12">
            <label for="dateofBirth" class="font-weight-bold text-muted pr-1">Date of Birth</label>
            <input type="date" class="form-control" ng-model="vm.formData.dateofBirth" ng-change="vm.validatedateofBirth(vm.formData.dateofBirth)"
                  ng-class="{
                           'is-invalid':(vm.dateofBirthFormat.status == 'invalid'),
                           'is-valid': (vm.dateofBirthFormat.status == 'valid')}"
                   tabindex="3" required>

            <!--Display error if date of birth field is blank-->
            <div ng-show="vm.dateofBirthFormat.status == 'invalid'">
                <small class="text-danger font-weight-bold">{{vm.dateofBirthFormat.message}}</small>
            </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label for="contactNumber" class="font-weight-bold text-muted pr-1">Contact Number</label>
            <input type="text" class="form-control" ng-model="vm.contactNumber" ng-change="vm.validateContactNumber(vm.contactNumber)"
                   ng-class="{
                           'is-invalid':(vm.contactNumberFormat.status == 'invalid'),
                           'is-valid': (vm.contactNumberFormat.status == 'valid')}"
                   contact-input tabindex="4" required>

            <!--Display error if registration code format or length is inappropriate-->
            <div ng-show="vm.contactNumberFormat.status == 'invalid'">
                <small class="text-danger font-weight-bold">{{vm.contactNumberFormat.message}}</small>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-md-12 col-xs-12 d-flex justify-content-center mt-4">
            <button type="reset" class="btn btn-secondary text-white mr-2 px-5" ui-sref="form.search">
                <i class="far fa-arrow-alt-circle-left pr-1"></i> Previous
            </button>
            <button type="submit" class="btn btn-secondary text-white mr-2 px-5">
                Next <i class="far fa-arrow-alt-circle-right pl-1"></i>
            </button>
        </div>
    </div>
</form>
