/*
 * SPDX-FileCopyrightText: Copyright 2024 Opal Health Informatics Group <info@opalmedapps.tld>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.welcome--instruction-box {
  background-color: #F2F2F2;
  border-radius: 8px;
  margin-top: 10px;
  padding: 12px;
}
