<!--
SPDX-FileCopyrightText: Copyright 2020 Opal Health Informatics Group <info@opalmedapps.tld>

SPDX-License-Identifier: Apache-2.0
-->

<!--Page content main section-->
<div class="container mt-0 mt-md-4 p-0 shadow-lg rounded">
    <form name="welcomeForm" class="p-4 pb-2 mb-0 mb-md-2 bg-light rounded">
        <p class="font-weight-bold text-muted">
            {{'WELCOME.INSTRUCTION' | translate}}
        </p>
        <p class="font-weight-bold text-muted">
            {{ 'HOSPITALS.NEURO' | translate }}
        </p>
        <ul class="list-unstyled ml-4 text-muted">
            <p class="welcome--instruction-box">
              {{ 'WELCOME.STEPS_NEURO' | translate }}
            </p>
        </ul>

        <!--Navigation button-->
        <div class="row">
            <div class="form-group col-md-12 col-xs-12 d-flex justify-content-center">
                <button type="reset" class="btn btn-secondary text-white mr-2 px-3 px-md-5" ui-sref="form.search"
                    tabindex="11">
                    <i class="far fa-arrow-alt-circle-left pr-1"></i> {{'FORM.BUTTONS.PREVIOUS' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>
