<!--Page content main section-->
<div class="container mt-0 mt-md-4 p-0 shadow-lg rounded">
    <form name="welcomeForm" class="p-4 pb-2 mb-0 mb-md-2 bg-light rounded">
        <p class="font-weight-bold text-muted">
            {{'WELCOME.INSTRUCTION' | translate}}
        </p>
        <p class="font-weight-bold text-muted">
            {{ 'HOSPITALS.RVH' | translate }}
        </p>
        <ul class="list-unstyled ml-4 text-muted">
            <li>{{ 'HOSPITALS.CEDARS' | translate }}</li>
            <li>{{ 'HOSPITALS.HIV' | translate }}</li>
        </ul>
        <p class="font-weight-bold text-muted">
            {{ 'HOSPITALS.MGH' | translate }}
        </p>
        <ul class="list-unstyled ml-4 text-muted">
            <li>{{ 'HOSPITALS.IBD' | translate }}</li>
        </ul>
        <p class="font-weight-bold text-muted">
            {{ 'HOSPITALS.MCH' | translate }}
        </p>
        <ul class="list-unstyled ml-4 text-muted">
            <li>{{ 'HOSPITALS.NEPHRO' | translate }}</li>
        </ul>
        <p class="font-weight-bold text-muted">
            {{ 'HOSPITALS.STJ' | translate }}
        </p>
        <ul class="list-unstyled ml-4 text-muted">
            <li>{{ 'HOSPITALS.HEMA' | translate }}</li>
        </ul>
        <p class="font-weight-bold text-muted">
            {{'WELCOME.STEPS' | translate}}
        </p>

        <!--Navigation button-->
        <div class="row">
            <div class="form-group col-md-12 col-xs-12 d-flex justify-content-center">
                <button type="reset" class="btn btn-secondary text-white mr-2 px-3 px-md-5" ui-sref="form.search"
                    tabindex="11">
                    <i class="far fa-arrow-alt-circle-left pr-1"></i> {{'FORM.BUTTONS.PREVIOUS' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>
