.password-input--wrapper {
    align-items: center;
    display: flex;
    width: 100%;
}

.password-input--wrapper .input-slot {
    width: 100%;
}

.password-input--wrapper i {
    color: #666;
    cursor: pointer;
    margin-left: -1.8em;
}
