.password-input--wrapper {
    display: flex;
    align-items:center;
    width: 100%
}
.password-input--wrapper .input-slot {
    width: 100%
}
.password-input--wrapper i {
    margin-left: -1.2em;
    cursor: pointer;
    color: #666
}
