{
   "_comment":"Configuration file",

   "apiKey": "xxxxxxx",
   "authDomain": "xxxxxxx",
   "databaseURL": "xxxxxxx",
   "projectId": "xxxxxxx",
   "storageBucket": "xxxxxxx",
   "messagingSenderId": "xxxxxxx",
   "appId": "xxxxxxx"
}
