# SPDX-FileCopyrightText: Copyright (C) 2025 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

name: Build and Deploy
# Default to dev when running automatically (see also "env" below)
run-name: Building and (optionally) deploying for ${{ inputs.ENVIRONMENT || 'dev' }}
on:
  # When pushing to main, automatically build for dev
  push:
    branches:
      - main
      # TODO testing
      - SB.build-workflow

  # When updating a pull request or adding a pull request to a merge queue, automatically build for dev
  pull_request:
  merge_group:

  # Offer a manual interface to build for all other environments as needed
  workflow_dispatch:
    inputs:
      ENVIRONMENT:
        description: 'Environment in which to build'
        type: choice
        required: true
        default: 'dev'
        options:
          - dev
          - prod
      DEPLOY:
        description: 'Deploy the site'
        required: true
        default: true
        type: boolean

env:
  # Read the target environment from workflow_dispatch inputs, or default to dev
  ENVIRONMENT: ${{ inputs.ENVIRONMENT || 'dev' }}

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Setup
      - name: Print environment
        run: echo "Environment = $ENVIRONMENT"
      - uses: actions/checkout@v4.2.2
        with:
          persist-credentials: false
      - name: Set up build
        uses: ./.github/actions/build-setup
        with:
          CONFIG: ${{ vars[format('{0}_CONFIG', env.ENVIRONMENT)] }}
          NPMRC_FILE: ${{ secrets.NPMRC_FILE }}

      # Build
      - name: Build the registration website
        run: npm run build
      - name: Organize the folder structure for the output
        run: |
          mkdir web-build
          cp -r dist web-build
      - name: Archive build output
        uses: actions/upload-artifact@v4.6.2
        with:
          name: web-build
          path: web-build

  deploy:
    runs-on: ubuntu-latest
    steps:
      # Setup
      - uses: actions/checkout@v4.2.2
        with:
          persist-credentials: false
      - name: Download build artifact
        uses: actions/download-artifact@v4.3.0
        with:
          name: web-build
          run-id: ${{ github.run_id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install lftp
        run: |
          sudo apt-get install lftp
          lftp --version
      - name: List contents of `dist`
        run: ls -la dist
