# SPDX-FileCopyrightText: Copyright (C) 2025 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  check-dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      # Use the build-setup action to test dependency installation
      - name: Install dependencies
        uses: ./.github/actions/build-setup
        with:
          # No actual config is required, since this job just checks that all dependencies can be installed
          CONFIG: "{}"

  lint:
    uses: opalmedapps/actions/.github/workflows/prek.yaml@main
    with:
      skip: reuse-lint-file

  run-reuse-workflow:
    uses: opalmedapps/.github/.github/workflows/reuse.yaml@main
